h1{
    text-align: center;
    color: mediumpurple;
    };

h3{
    text-align: left;
    color:mediumpurple
}
h2{
text-align: left;
color: mediumpurple;
}

h4{
text-align: left;
color: mediumpurple;
}

p{
margin-left: 20px ;
margin-right: 20px;


}
a:link {
    background-color:lavenderblush;
    color: mediumpurple;
    padding: 14px 30px;
    text-align: center;
    display: inline-block;
}
a:visited{
background-color: lavender;
color: mediumpurple;
padding: 14px 30px;
text-align: center;
display: inline-block;

}
#h3{
    margin: 20px 50px;
    padding: 15px 20px;

}

#h2{
    margin:20px 15px ;
    padding:10px 10px ;
    border: lavenderblush 2px solid;
}

#p{
    margin:20px 15px;
    padding:10px 10px;
    
}

