h1{
    text-align: center;
    color: rgb(0, 0, 0);
    };

h3{
    text-align: left;
    color:rgb(0, 0, 0)
}
h2{
text-align: left;
color: rgb(0, 0, 0);
}

h4{
text-align: center;
color: rgb(0, 0, 0);
}

p{
margin-left: 20px ;
margin-right: 20px;


}
a{
    color:black
}
a:visited{
color:white


}
